.duration{
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16.125em;
    height: 16.4375em;
    background-color: #FF0000;
    border-radius: 0.3125em;
}

.durationtext{
    width: 60%;
    align-self: flex-start;
    margin: 1.8125em 0 0 2.125em;
    font-size: 1em;
    color: white;
    opacity: 50%;
}

.changeback{
    position: absolute;
    width: 86%;
    height: 100%;
    background-color: #FF0000;
}

.duration .recharts-surface{
    min-height: 112%;
}

.durationtooltip{
    background-color: white;
    padding: 1em;
}